@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Ubuntu', 'Raleway', sans-serif;
    
}

li, a, button {
    font-size:14px;
    color:#edf0f1;
    text-decoration:none;
    list-style:none;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.766);   
    height:30px;
    align-items: center;
    
}

header li a img{
    object-fit: cover;
    height:20px;
    vertical-align : middle
}


.tm-nav-li {
    display:inline-block;
    padding-left:10px;
    
}

.tm-nav-img {
display: inline-block;
}


.tm-nav-li2 {
    display:inline-block;
    padding-right: 23px;
}
/* Header ÎÅù */

.main-video { 
    width: 100%;  
    overflow: hidden;
    margin: 0px auto; 
    position: relative; 
}
.main-icon {
    position: absolute; top: 50%; width: 100%;
    margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff;
}
.main-suitcase{
    text-align: left;
    margin:1% 0 0 15%;
}
.main-suitcase img{
    height: 50px;
    
}




.tm-footer {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    font-size: 0.9em;
} 
/* 
.main-video{
    position: fixed; right: 0; bottom: 0;
    width:100%; height:100%;
    z-index: -100;
    overflow: hidden; margin: 0px auto; position: relative;
}
.main-text h1{
    position: absolute; top: 50%; width: 100%;
}




 */